.netflix-text {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10vh;
  font-weight: bolder;
  color: #e50914;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-left: 1%;
  cursor: pointer;
  display: flex;
}
.netflix-text:hover {
  color: #fff;
}