.homePageDiv {
  position: relative;
  display: flex;
  align-items: center;
}

.homePageDiv::before {
  content: "";
  background-image: url("https://cdn.pixabay.com/photo/2016/11/01/18/38/background-1789175_960_720.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

form {
  position: relative;
  text-align: center;
  color: black;
}

#logoutButton {
  margin-left: 5%;
}

#itemBtn {
  width: 60%;
}
