.registerPageDiv {
  position: relative;
  /* height: 100vh;
  width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerPageDiv::before {
  content: "";
  background-image: url("https://cdn.pixabay.com/photo/2016/11/01/18/38/background-1789175_960_720.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

form {
  position: relative;
  text-align: center;
  color: black;
}



/* Styling for the dropdown */
select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for the dropdown arrow */
select::after {
  content: "\25BE"; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Styling for the dropdown options */
select option {
  font-size: 1rem;
}

/* Styling for the dropdown when it's open */
select:focus {
  outline: none;
  border-color: #007bff; /* Change the border color when focused */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Add a focus effect */
}