.modal {
  width: 1000;
  background-color: #141414;
  border-radius: 80%;
}

.custom-modal .ant-modal-title {
  font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.modal-label {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}
